# Ignore all files and directories inside /LAB-4 except /LAB-4/codes/
/LAB-4/*
!/LAB-4/codes/

# Ignore all files in /LAB-4/codes/ except .vhdl files
/LAB-4/codes/*
!/LAB-4/codes/*.vhdl

# Ignore all files and directories inside /LAB-5 except /LAB-5/codes/
/LAB-5/*
!/LAB-5/codes/

# Ignore all files in /LAB-5/codes/ except .vhdl files
/LAB-5/codes/*
!/LAB-5/codes/*.vhdl
